*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.main-header{
    background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
}
.main-nav_item{
    display: inline-block
}
.main-header > div{
    display: inline-block
}
.main-nav{
    display: inline-block;
    width: 100%;
    text-align: right;
}
.main-nav_items{
    margin: 0;
    padding: 0;
    list-style:none;
}